.carousel-item img{
	width: auto;
	height: 500px;
	max-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background-color: lightgrey;
}
.carousel-inner{
	background-color: lightgrey;
	height: 500px;
	max-height: 500px;
}
.carousel{
	margin-bottom: 4rem;
	margin-top: 3.6rem;
}
.carousel_img {
	text-align: right;
}
#logo_car {
	margin-bottom:20px;
	padding-bottom: 10px;
	position: relative;
}
#group_car{
	margin-bottom:20%;
	position: relative;
	left: 60%;
	float: right;
}
#placeholder_pic{
	width: 90%;
	padding-bottom: 20px;
	/* padding-top: 20px; */
}
#text_about{
	padding-top: 20px;
}
.carousel-caption{
	color: #1b2a51;
	text-align: center;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.marketing .col-lg-4{
	margin-bottom: 1.5rem;
	text-align: center;
}
.blue_button {
	background-color: #1b2a51;
	color: white;
}
.contact {
	margin-top: 30px;
}
.signin {
	margin-top: 30px;
	text-align: center;
	width:50%
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
	display: block;
}
.navbar{
	background-color: lightgrey;
}
.card-header{
	background-color: #1b2a51;
	color: white;
}
.about_us{
	padding-top: 15px;
	color: #1b2a51;
}
.team{
	color: #1b2a51;
}
.team h4{
	color: #1b2a51;
}
.marketing h2{
	font-weight: 400;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
	margin-top: 2em;
	font-size: 50px;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.featurette-divider {
    margin: 5rem 0;
}
@media (max-width: 768px) {
.carousel{
	display: none;
}
.featurette-heading{
	margin-top: 15px;
	color: #1b2a51;
}
.fixed-top{
	position:relative;
}
.marketing{
	margin-top: 15px;
}
.collapse{
	margin-right: 100%;
}
#signin_button{
	display:none;
}
}
