.carousel-item img{
	width: auto;
	height: 500px;
	max-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background-color: lightgrey;


}
.carousel-inner{
	background-color: lightgrey;
	height: 500px;
	max-height: 500px;


}
.carousel{
	margin-bottom: 4rem;
}
.carousel_img {
	text-align: right;
}
#logo_car {
	margin-bottom:50px;
}
#group_car{
	position: relative;
	left: 50%;
	float: right;
}
.carousel-caption{
	color: #1b2a51;
	text-align: center;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.marketing .col-lg-4{
	margin-bottom: 1.5rem;
	text-align: center;
}

.contact {
	margin-top: 30px;
}
.signin {
	margin-top: 30px;
	text-align: center;
	width:50%
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
	display: block;
}
.navbar{
	background-color: lightgrey;
}
.card-header{
	background-color: #1b2a51;
	color: white;
}
@media (min-width: 992px)
.col-lg-4{
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 33.333333%
	max-width: 33.33333333333;
}
#logo-car{
	margin:0px;
}
