.carousel-item img{
	width: auto;
	height: 500px;
	max-height: 500px;
}
.carousel{
	margin-bottom: 4rem;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.marketing .col-lg-4{
	margin-bottom: 1.5rem;
	text-align: center;
}
@media (min-width: 992px)
.col-lg-4{
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 33.333333%
	max-width: 33.33333333333;
}
